{% load custom_tags %}

<header>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary text-center">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'users:home' %}">Главная</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'clients:recipients' %}">Управление клиентами</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'messages:messages_list' %}">Управление сообщениями</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'sender:mailing' %}">Управление рассылками</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'sender:statistics' %}">Статистика рассылки</a>
                    </li>
                    {% if perms.users.can_view_list_users %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'users:mngr_page' %}">Управление пользователями</a>
                    </li>
                    {% endif %}
                    {% if 'home' not in request.path_info %}
                    {% if 'clients' in request.path_info %}
                    <li class="nav-item"><a class="nav-link text-warning" href="{% url 'clients:add_recipient' %}">Добавить
                        получателя</a></li>
                    {% elif 'messages' in request.path_info %}
                    <li class="nav-item"><a class="nav-link text-warning" href="{% url 'messages:add_message' %}">Добавить
                        сообщение</a>
                    </li>
                    {% elif 'statistics' or 'mailing_list' or 'start' in request.path_info %}
                    <li class="nav-item"><a class="nav-link text-warning" href="{% url 'sender:add_mailing' %}">Добавить
                        рассылку</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            <form class="d-flex" method="post" action="{% url 'users:logout'%}">
                {% csrf_token %}
                {% if request.user|in_group:"Managers" %}
                <span class="text-light mx-3">Менеджер: <a class="link text-light" href="{% url 'users:profile' %}">{{request.user|default:'Имя не указано'}}</a></span>
                {% else %}
                <a class="btn text-light" href="{% url 'users:profile' %}">{{request.user|default:'Имя не указано'}}</a>{% endif %}
                <button type="submit" class="btn btn-danger ">Выйти</button>
            </form>
        </div>
    </nav>
</header>
