{% extends 'users/base.html' %}

{% block title %}Управление пользователями{% endblock %}

{% block content %}
<table class="table table-success table-striped table-hover text-center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Электронная почта</th>
        <th scope="col">Логин</th>
        <th scope="col">ФИО</th>
        <th scope="col">Номер телефона</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.pk }}</th>
        <td>{{ user.email }}</td>
        <td>{{ user.login|default:"Логин не указан" }}</td>
        <td>{{ user.last_name }} {{ user.first_name }}</td>
        <td>{{ user.is_active }}</td>
        <td>
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Действие
            </button>
            <ul class="dropdown-menu">
                {% if user.is_active %}
                <li><a class="dropdown-item" href="{% url 'users:disable_user' user.pk %}">Блокировать</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'users:unlock_user' user.pk %}">Разблокировать</a></li>
                {% endif %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}