{% extends 'main/base.html' %}

{% block title %}Управление пользователями{% endblock %}

{% block content %}
<table class="table table-success table-striped table-hover text-center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Электронная почта</th>
        <th scope="col">Логин</th>
        <th scope="col">ФИО</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    {% if request.user != user %}
    <tr>
        <th scope="row">{{ user.pk }}</th>
        <td>{{ user.email }}</td>
        <td>{{ user.login|default:"Логин не указан" }}</td>
        <td>{{ user.last_name }} {{ user.first_name }}</td>
        <td>
            {% if user.is_active %}
            <a class="btn btn-danger" href="{% url 'users:disable_user' user.pk %}">Блокировать</a>
            {% else %}
            <a class="btn btn-success" href="{% url 'users:unlock_user' user.pk %}">Разблокировать</a>
            {% endif %}
        </td>
    </tr>

    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}