<header>

    <div class="row justify-content-center">
        <div class="btn-group" role="group">
            {% if user.is_authenticated %}
            <div class="col-3 pt-1 d-grid">
                <a class="btn btn-warning" href="{% url 'users:profile' user.pk%}">Профиль</a>
            </div>
            <div class="col-3 pt-1 d-grid text-center">
                <a class="btn btn-primary" href="{% url 'users:home' %}">На
                    главную</a>
            </div>
            <div class="col-3 d-grid pt-1">
                {% if 'clients' in request.path_info %}
                <a href="{% url 'clients:add_recipient' %}" class="btn btn-success">Добавить получателя</a>
                {% elif 'message' in  request.path_info %}
                <a href="{% url 'sender:add_message' %}" class="btn btn-primary">Добавить сообщение</a>
                {% elif 'mailing' in  request.path_info %}
                <a href="{% url 'sender:add_mailing' %}" class="btn btn-success">Добавить рассылку</a>
                {% endif %}
            </div>
            <div class="col-3 d-grid pt-1 d-flex justify-content-end align-items-center">
                <form method="post" action="{% url 'users:logout'%}" style="display: inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger ">Выйти</button>
                </form>
            </div>
            {% else %}
            <div class="col-3 d-grid pt-1"></div>
            <div class="col-3 d-grid text-center">
                <a class="btn btn-primary" href="{% url 'users:home' %}">На
                    главную</a>
            </div>
            <div class="col-3 d-grid pt-1"></div>
        </div>
    </div>
    {% endif %}
</header>