{% extends 'users/base.html' %}

{% block title %}Главная{% endblock %}



{% block content %}


{% if user.is_authenticated %}
{% include 'users\header.html' %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
        <a href="{% url 'clients:recipients' %}" class="btn btn-primary">Управление клиентами</a>
        <p></p>
        <a href="{% url 'sender:messages' %}" class="btn btn-primary">Управление сообщениями</a>
        <p></p>
        <a href="{% url 'sender:mailing' %}" class="btn btn-primary">Управление рассылками</a>

    </div>

</div>

{% else %}

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
        <a class="btn btn-primary" aria-current="page"
           href="{% url 'users:login'%}">Войти</a>
        <p></p>
        <a class="btn btn-primary" aria-current="page"
           href="{% url 'users:register'%}">Регистрация</a>

    </div>
    {% endif%}
    {% endblock %}