{% extends 'users/base.html' %}
{% load i18n %}
{% block title %}Новый пароль{% endblock %}

{% block head %}
Новый пароль
{% endblock %}

{% block content %}

{% if validlink %}

<form action="" method="POST"
      class="position-absolute top-50 start-50 translate-middle border border-success rounded bg-warning-subtle "
      style="width: 25%;">{% csrf_token %}
<div class="row mt-2 text-center">
<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p></div>
    <fieldset class="form-control">
        <input class="hidden form-control text-center" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="form-control">
            {{ form.new_password1.errors }}
            <div class="flex-container">
                <label for="{{ form.password1.id_for_label }}">{% translate 'New password:' %}</label>
                <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"  aria-describedby="basic-addon1"
                   name="{{ form.new_password1.name }}">
            </div>
        </div>
        <div class="form-control">
            {{ form.new_password2.errors }}
            <div class="flex-container">
                <label for="{{ form.password2.id_for_label }}">{% translate 'Confirm password:' %}</label>
                <input type="password" class="form-control" id="{{ form.password2.id_for_label }}"  aria-describedby="basic-addon1"
                   name="{{ form.new_password2.name }}">
            </div>
        </div>
    </fieldset>
<div class="d-grid gap-2 col-6 mx-auto my-2">
    <button type="submit" class="btn btn-primary" >{% translate 'Change my password' %}</button></div>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new
    password reset." %}</p>

{% endif %}

{% endblock %}