{% extends 'users/base.html' %}

{% block title %}Восстановление пароля{% endblock %}


{% block content %}
{% block head %}
<div class="row text-center mt-5">
    <h3>Восстановление пароля</h3></div>
{% endblock %}

<form method="post"
      class="row g-3 position-relative py-2 px-4 text-bg-dark border rounded-2 mt-5 bg-secondary top-0 start-50 translate-middle-x"
      style="width: 25%">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {{ form.as_p }}
    <div class="d-grid gap-2 mx-auto my-2">
        <button type="submit" class="btn btn-primary">Сбросить по E-mail</button>
        <a class="btn btn-success" href="{% url 'users:login' %}">Есть логин</a></div>
</form>

{% endblock %}