{% extends 'users/base.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block head_description %}
<h1>Изменение пароля</h1>
{% endblock %}

{% block content %}

<form method="post" class="row g-3 position-relative py-2 px-4 text-bg-dark border rounded-2 mt-5 bg-secondary top-0 start-50 translate-middle-x" style="width: 25%">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Изменить пароль</button>
</form>
 
{% endblock %}