{% extends 'catalog/base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block head %}
Профиль
{% endblock %}

{% block content %}
{% if user.avatar %}
<img src="{{ user.avatar.url }}" class="img-fluid rounded mx-auto d-block" alt="{{user.first_name}}" >
{% endif %}
<form class="row g-3 position-relative py-2 px-4 text-bg-dark border rounded-2 mt-5 bg-secondary top-0 start-50 translate-middle-x"
      style="width: 50%" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {{ form.as_div }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}
