<header>
    <div class="row justify-content-center">
        <div class="btn-group" role="group">
            <div class="col-3 pt-1 d-grid">
                <a class="btn btn-warning" href="{% url 'users:profile' user.pk%}">Профиль</a>
            </div>
            <div class="col-3 pt-1 d-grid text-center">
                <a href="{% url 'users:home' %}" class="btn btn-primary">На главную</a>
            </div>
            <div class="col-3 d-grid pt-1">
                {% if recipients %}
                <a href="{% url 'sender:add_recipient' %}" class="btn btn-success">Добавить получателя</a>
                {% elif messages %}
                <a href="{% url 'sender:add_message' %}" class="btn btn-primary">Добавить сообщение</a>
                {% else %}
                <a href="{% url 'sender:add_mailing' %}" class="btn btn-success">Добавить рассылку</a>
                {% endif %}
            </div>

<div class="col-3 d-grid pt-1 d-flex justify-content-end align-items-center">
            <form method="post" action="{% url 'users:logout'%}">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Выйти</button>

            </form></div>

        </div>
    </div>
</header>