{% extends 'message_sender/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
        <a href="{% url 'sender:recipients' %}" class="btn btn-primary">Управление клиентами</a>
        <button type="button" class="btn btn-primary btn-lg mt-2">Управление сообщениями</button>
        <button type="button" class="btn btn-primary btn-lg mt-2">Управление рассылками</button>
    </div>
</div>
{% endblock %}