{% extends 'users/base.html' %}

{% block title %}
{% if object %}
Редактировать рассылку
{% else %}
Создать рассылку
{% endif %}
{% endblock %}

{% block content %}
{% include 'message_sender/header.html' %}

<form action="" method="POST"
      class="position-absolute top-50 start-50 translate-middle border border-success rounded bg-warning-subtle"
      style="width: 25%;">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid col-6 mx-auto">
        <button type="submit" class="btn btn-success mb-2 px-4">
            {% if object %}
            Сохранить
            {% else %}
            Создать
            {% endif %}
        </button>
        <a href="{% url 'sender:recipients' %}" class="btn btn-primary mb-2 px-4">Отмена</a>
    </div>

</form>

{% endblock %}