{% extends 'users/base.html' %}

{% block title %}Список получателей{% endblock %}

{% block content %}
{% include 'users/header.html' %}
<table class="table table-success table-striped table-hover text-center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Дата и время первой отправки</th>
        <th scope="col">Дата и время окончания отправки</th>
        <th scope="col">Статус рассылки</th>
        <th scope="col">Сообщение</th>
        <th scope="col">Получатели</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for mail in mailing %}
    <tr>
        <th scope="row">{{ mail.pk }}</th>
        <td>{{ mail.start_date }}</td>
        <td>{{ mail.end_date }}</td>
        <td>{{ mail.status }}</td>
        <td>{{ mail.message }}</td>
        <td>
            {% for recipient in mail.recipients.all %}<ul class="nav nav-tabs" role="tablist">
            <li>
                {{ recipient.fullname }}</li></ul>{% endfor %}</td>
        <td>
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Действие
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'sender:start' mail.pk %}">Запустить</a></li>
                <li><a class="dropdown-item" href="{% url 'sender:edit_mailing' mail.pk %}">Редактировать</a></li>
                <li><a class="dropdown-item " href="{% url 'sender:mailing_delete' mail.pk %} " >Удалить</a></li>
            </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if mailing_status %}
<div class="row text-center">
<h5>{{ mailing_status }}</h5></div>
{% endif %}
{% endblock %}