{% extends 'users/base.html' %}

{% block title %}
{% if object %}
Редактировать рассылку
{% else %}
Создать рассылку
{% endif %}
{% endblock %}

{% block content %}
{% include 'message_sender/header.html' %}

<form action="" method="POST"
      class="position-absolute top-50 start-50 translate-middle border border-success rounded bg-warning-subtle"
      style="width: 25%;">
    {% csrf_token %}
    <div class="mb-3 mt-3 px-4">
        <label for="{{ form.subject_line.id_for_label }}" class="form-label">{{ form.subject_line.label }}</label>
        <input type="text" class="form-control" id="{{ form.subject_line.id_for_label }}" name="{{ form.subject_line.name }}"
                           value="{% if object %}{{ form.subject_line.value }}{% endif %}"></div>
    <div class="mb-3 px-4">
        <label for="{{ form.message.id_for_label }}" class="form-label">{{ form.message.label }}</label>
        <textarea class="form-control" id="{{ form.message.id_for_label }}" rows="3"
                  name="{{ form.message.name }}">{% if object %}{{ form.message.value }}{% endif %}</textarea>
    </div>
    <div class="d-grid col-6 mx-auto">
        <button type="submit" class="btn btn-success mb-2 px-4">
            {% if object %}
            Сохранить
            {% else %}
            Создать
            {% endif %}
        </button>
        <a href="{% url 'sender:messages' %}" class="btn btn-primary mb-2 px-4">Отмена</a>
    </div>

</form>

{% endblock %}